.main {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
    padding: var(--space-4);
    background-color: rgb(var(--background-rgb));
    margin: var(--space-4) auto;
    height: calc(100vh - (var(--space-4) * 2));
    border-radius: var(--space-3);
    gap: var(--space-4);
    border: 1px solid rgba(var(--border-rgb), .4);
}

@media (min-width: 992px) {
    .main {
        grid-template-columns: minmax(200px, .3fr) minmax(0, 1fr);
    }
}