.paymentData {
    display: grid;
    grid-template-columns: 32px minmax(0, 1fr);
    gap: var(--space-3);
    padding: var(--space-1) 0;
    align-items: center;
}
.paymentName {
    font-size: 1em;
    font-weight: 400;
}
.gridTable {
    display: grid;
    grid-template-columns: 32px minmax(0, 1fr) minmax(0, .4fr) minmax(0, .4fr) minmax(0, .4fr) minmax(0, .5fr);
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-2);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    width: 1.4rem;
    color: var(--foreground-600);
}
.end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-2);
}