.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-4);
    background-color: rgb(var(--background-accent-rgb));
    padding: var(--space-4);
    border-radius: var(--space-4);
}

.formContainer {
    width: 100%;
    /* max-width: 800px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--space-4);
}

.formGroup .label {
    font-size: .7rem;
    font-weight: 600;
    color: var(--foreground-400);
}
.inputContainer .input {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    padding: 0 1em;
    border: 1px solid var(--foreground-100);
    border-radius: var(--space-3);
    background-color: rgb(var(--background-rgb));
    color: rgb(var(--foreground-rgb));
}
.inputContainer .input:hover,
.inputContainer .input:focus {
    border-color: var(--primary-600);
    outline: 1px solid var(--primary-600);
}
.inputContainer input:read-only {
    border-color: var(--foreground-100);
    outline: none;
    background-color: transparent;
    pointer-events: none;
}

.inputContainer textarea {
    width: 100%;
    font-size: .9rem;
    padding: 1em;
    border: 1px solid var(--foreground-100);
    border-radius: var(--space-2);
    background-color: rgb(var(--background-rgb));
    color: rgb(var(--foreground-rgb));
    resize: none;
}
.inputContainer textarea:hover,
.inputContainer textarea:focus {
    border-color: var(--primary-600);
    outline: 1px solid var(--primary-600);
}


.inputContainer small {
    font-size: .65rem;
    color: var(--danger);
}

.selectContainer {
    position: relative;
}
.selectContainer select {
    appearance: none;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    padding: 0 1em;
    border: 1px solid var(--foreground-100);
    border-radius: var(--space-3);
    background-color: rgb(var(--background-rgb));
    color: rgb(var(--foreground-rgb));
}
.inputContainer select:hover,
.inputContainer select:focus {
    border-color: var(--primary-600);
    outline: 1px solid var(--primary-600);
}

.phoneSelectContainer svg,
.selectContainer svg {
    position: absolute;
    right: var(--space-3);
    top: 50%;
    translate: 0 -50%;
    width: 1.4em;
    pointer-events: none;
}

.formFooter {
    width: 100%;
    /* max-width: 800px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--space-3);
    border-top: 1px solid var(--foreground-50);
    padding-top: var(--space-4);
}

.inputSkeleton {
    width: 100%;
    font-size: 1rem;
    padding: .5em;
    background-color: var(--foreground-50);
    color: transparent;
    margin-top: 4px;
    border-radius: var(--space-3);
}

.radios {
    display: grid;
    gap: var(--space-2);
}
.addressRadio {
    display: grid;
    grid-template-columns: 24px minmax(0, 2fr) 32px;
    align-items: baseline;
    border-radius: var(--space-3);
    padding: var(--space-3);
    border: 1px solid rgb(var(--border-rgb));
    cursor: pointer;
}
.addressRadio:not(:has(a:hover)):hover {
    border-color: var(--primary-600);
    outline: 1px solid var(--primary-600);
}
.addressRadio:has(input:checked) {
    background-color: rgb(var(--background-rgb));
}
.addressRadio input[type=radio] {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    left: -9999px;
}
.addressRadio svg {
    width: 1.2rem;
    transform: translateY(3px);
}
.addressRadio input[type=radio]:not(:checked) + .icon .solid {
    display: none;
}
.addressRadio input[type=radio]:checked + .icon .outline {
    display: none;
}
.radioLabel {
    font-size: .95rem;
}
.addressEdit {
    width: 32px;
    height: 32px;
    padding-bottom: 5px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--space-2);
}
.addressEdit:hover {
    outline: 2px solid var(--primary-600);
}

.phoneInput {
    display: flex;
    gap: 2px;
}
.phoneSelectContainer {
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    border-radius: var(--space-3);
}
.phoneSelectContainer:hover {
    outline: 2px solid var(--primary-600);
}
.phoneSelectContainer select {
    position: absolute;
    top: 0;
    left: 0;
    appearance: none;
    width: initial;
    height: 40px;
    font-size: 1rem;
    padding: 0 1em;
    border: 1px solid var(--foreground-100);
    border-radius: var(--space-3);
    background-color: rgb(var(--background-rgb));
    color: rgb(var(--foreground-rgb));
    cursor: pointer;
}
.phoneSelectContainer svg {
    z-index: 3;
}
.codeView {
    position: relative;
    z-index: 2;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(var(--background-rgb));
    pointer-events: none;
    padding: 0 var(--space-3);
    padding-right: calc(var(--space-3) + 24px);
}
.codeView:empty::before {
    content: '';
    display: block;
    width: 1.2em;
    height: .8em;
    border-radius: 2px;
    background-color: var(--foreground-400);
}
.phoneInput input {
    flex: 1;
}