
.products {
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: var(--space-4);
    padding: 0 var(--space-3);
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: var(--space-2);
}

.product {
    width: 100%;
    height: 100%;
    /* min-height: 220px; */
    border-radius: var(--space-4);
    background-color: rgb(var(--background-accent-rgb));
    padding: var(--space-3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
}
.product:hover:not(:has(button:hover, label:hover)) {
    outline: 2px solid var(--primary-600);
}

.productImage {
    width: 100%;
    aspect-ratio: 1 /1;
    background-color: rgb(var(--background-rgb));
    border-radius: 12px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.productImage img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.productImage svg {
    width: 60%;
    color: var(--foreground-50);
}

.productDetail {
    padding: var(--space-2);
    flex: 1;
}
.productDetail h4 {
    min-height: 30px;
    font-size: .9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.productPrice {
    color: var(--foreground-400);
}
.addToCart {
    width: 100%;
    height: 36px;
    background-color: var(--primary-100);
    border-radius: 15px;
    border: none;
    color: var(--primary-600);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-3);
    padding: 0;
    font-size: .8rem;
    text-transform: uppercase;
    cursor: pointer;
    pointer-events: auto;
}
.addToCartForm input[type=radio] {
    display: none;
}
.buttonSkeleton {
    background-color: var(--foreground-50);
}
.addToCart:hover {
    outline: 2px solid var(--primary-600);
}
.addToCartDisabled,
.addToCart:disabled {
    opacity: .7;
    pointer-events: none;
}
.addToCart svg {
    width: 1.4em;
}
.variantsContiner {
    flex: 1;
    font-size: .9rem;
}

/* .buttonContainer {
    border-radius: var(--space-4);
    background-color: rgb(var(--background-rgb));
} */

.bottomSheetButton {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    gap: var(--space-3);
    padding: 0 var(--space-3);
    font-size: 1em;
    border-radius: var(--space-3);
    cursor: pointer;
}
.bottomSheetButton:hover {
    background-color: rgb(var(--background-accent-rgb));
    outline: 2px solid var(--primary-600);
}
.bottomSheetDisabled {
    opacity: .5;
    pointer-events: none;
}
.bottomSheetButton svg {
    width: 1.2rem;
    color: var(--foreground-500);
}

.favouriteContainer {
    position: absolute;
    top: calc(var(--space-3) + 2px);
    right: calc(var(--space-3) + 2px);
}
.favourite {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    color: var(--primary-600);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--space-3);
}
.favourite:hover {
    outline: 2px solid var(--primary-600);
    background-color: rgba(var(--background-accent-rgb), 1);
}
.favourite:disabled {
    pointer-events: none;
}
.favourite svg {
    width: 1.5rem;
}
.favouriteSkeletom {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.favouriteSkeletom::before {
    content: "";
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 100%;
    background-color: rgb(var(--background-accent-rgb));
}
.favouriteContainer:has(button) div {
    display: none;
}