.summaryContaineer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--space-3);
}

.card,
.tableCard {
    background: rgb(var(--background-accent-rgb));
    border-radius: var(--space-2);
    padding: var(--space-2);
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 24px minmax(0, 1fr);
    gap: var(--space-2);
    overflow: hidden;
}
.tableCard {
    grid-template-rows: minmax(0, 1fr) 28px;
    gap: 0;
}
.cardHeader,
.tableFooter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-3);
    padding: 0 var(--space-3);
    color: var(--foreground-500);
    font-size: .8rem;
}
.tableFooter svg,
.cardHeader svg {
    width: 1.2em;
}
.tableContainer {
    margin: -20px -10px;
}
.cardBody {
    display: flex;
    border-radius: var(--space-2);
    background-color: rgb(var(--background-rgb));
    min-height: 80px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconSkileton {
    width: 1.1em;
    height: 1.1em;
    border-radius: 100%;
    background-color: var(--foreground-50);
}

.lastUpdate {
    font-size: .8rem;
    color: var(--foreground-500);
}
