.pageScroll {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--space-4);
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(var(--background-rgb));
}
.backHeader button {
    border: none;
    outline: none;
    padding: .75em 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.backIcon {
    width: 1.2em;
    color: var(--foreground-400);
}


.textSkeleton {
    background-color: var(--foreground-200);
    color: transparent;
    border-radius: 2px;
}

.budge {
    font-size: .7rem;
    font-weight: 600;
    padding: .2em .6em;
    border-radius: 3em;
    background-color: var(--primary-100);
    color: var(--primary-600);
    min-width: 40px;
    text-align: center;
}