.form {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--space-4);
}
.formContainer {
    padding: 0 var(--space-3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--space-3);
}
.shippingForm {
    width: 100%;
    background-color: rgb(var(--background-accent-rgb));
    border-radius: var(--space-4);
    width: 100%;
    /* max-width: 800px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: var(--space-4);
    gap: var(--space-4);
}
