
.main {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgb(var(--background-rgb));
    position: relative;
}
.scrollView {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.safeView {
    padding: calc(var(--space-4) + var(--space-3)) 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
@media (min-width: 540px) {
    .main {
        max-width: 360px;
        height: calc(100vh - (var(--space-3) * 2));
        max-height: 760px;
        outline: 10px solid #000;
        border-radius: var(--space-5);
        overflow: hidden;
    }
}